@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:wght@500;600&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  list-style: none;
}

:root{
  --bg-color: #222327;
  --text-color: #fff;
  --main-color: #29fd53;
  --two-main-color: #ffffffcc;
  --big-font: 4rem;
  --h2-font: 1.9rem;
  --p-font: 1rem;
}

body{
  min-height: 100vh;
  background: var(--bg-color);
  color: var(--text-color);
}

span{
  color: var(--main-color);
  font-size: 6rem;
}

/* SECTION NAVBAR */

header{
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--bg-color);
  padding: 28px 12%;
  transition: all .50s ease;
}
.logo{
  display: flex;
  align-items: center;
}
.logo i{
  color: var(--main-color);
  font-size: 28px;
  margin-right: 3px;
}
.logo span{
  color: var(--text-color);
  font-size: 1.1rem;
  font-weight: 600;
}
.navbar{
  display: flex;
}
.navbar a{
  color: var(--text-color);
  font-size: 1.1rem;
  font-weight: 500;
  padding: 5px 0;
  margin: 0px 30px;
  transition: all .50s ease;
}
.navbar a:hover{
  color: var(--main-color);
}
.navbar a.active{
  color: var(--main-color);
}
.main{
  display: flex;
  align-items: center;
}
.main a{
  margin-right: 25px;
  margin-left: 10px;
  color: var(--text-color);
  font-size: 1.1rem;
  font-weight: 500;
  transition: all .50s ease;
}
.user{
  display: flex;
  align-items: center;
}
.user i{
  color: var(--main-color);
  font-size: 28px;
  margin-right: 7px;
}
.main a:hover{
  color: var(--main-color);
}
#menu-icon{
  font-size: 35px;
  color: var(--text-color);
  cursor: pointer;
  z-index: 10001;
  display: none;
}

/* SECTION HOME */

section{
  padding: 120px 14%;
}
.home{
  position: relative;
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 6rem;
  align-items: center;
}
.home img{
  max-width: 100%;
  width: 600px;
  height: auto;
  border-radius: 50%;
}
.home-text h5{
  font-size: var(--text-color);
  font-weight: 500;
  margin: 0 0 10px;
}
.home-text h1{
  font-size: var(--big-font);
  color: var(--text-color);
  font-weight: 700;
  line-height: 1;
  margin: 0 0 20px;
}
.home-text h6{
  color: var(--text-color);
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 25px;
}
.home-text p{
  max-width: 470px;
  font-size: var(--p-font);
  font-weight: 300;
  line-height: 2rem;
  margin-bottom: 1.5rem;
  color: var(--two-main-color);
}

.btn{
  background: var(--main-color);
  color: var(--text-color);
  box-shadow: 4px 4px var(--text-color);
  margin-left: 25px;
  padding: 0 25px;
  line-height: 42px;
  display: inline-block;
  border-radius: 10px;
  transition: transform 0.35s ease;
}
.btn:hover{
  transform: scale(1.2);
  background: var(--text-color);
  color: var(--main-color);
  box-shadow: 4px 4px var(--main-color);
}

.home-link{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 28px 12%;
}

.home-link a{
  font-size: 34px;
  color: var(--text-color);
}

.home-link a:hover{
  color: var(--main-color);
  transition: all .50s ease;
  transform: scale(1.2);
}

/* Ajuste para dispositivos moviles */

@media (max-width: 1280px){
  header{
    padding: 14px 2%;
    transition: .2s;
  }
  .navbar a{
    padding: 5px 0;
    margin: 0px 20px;
  }
}
@media (max-width: 1090px){
  #menu-icon{
    display: block;
  }
  .navbar{
    position:absolute;
    top: 100%;
    right: -100%;
    width: 270px;
    background: var(--main-color);
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 10px;
    transition: all .50s ease;
  }
  .navbar a{
    display:block;
    margin: 12px 0;
    padding: 0px 25px;
    transition: all .50s ease;
  }
  .navbar a:hover{
    color: var(--text-color);
    transform: translateY(5px);
  }
  .navbar a.active{
    color: var(--text-color);
  }
  .navbar.open{
    right: 2%;
  }

  .home{
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 0;
  }
}