@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:wght@500;600&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  list-style: none;
}

:root{
  --bg-color: #222327;
  --text-color: #fff;
  --main-color: #f58220;
  --two-main-color: #ffffffcc;
  --big-font: 4rem;
  --h2-font: 2rem;
  --p-font: 1.7rem;
}

body{
  display: grid;
  min-height: 100vh;
  background: var(--bg-color);
  color: var(--text-color);
}

span{
  color: var(--main-color);
}

/* SECTION NAVBAR */

header{
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 10001;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--bg-color);
  padding: 28px 12%;
  transition: all .50s ease;
}
.logo{
  display: flex;
  align-items: center;
}
.logo i{
  color: var(--main-color);
  font-size: 28px;
  margin-right: 3px;
}
.logo span{
  color: var(--text-color);
  font-size: 1.3rem;
  font-weight: 600;
}
.navbar{
  display: flex;
}
.navbar a{
  color: var(--text-color);
  font-size: 1.3rem;
  font-weight: 500;
  padding: 5px 0;
  margin: 0px 30px;
  transition: all .50s ease;
}
.navbar a:hover{
  color: var(--main-color);
}
.navbar a.active{
  color: var(--main-color);
}
.main{
  display: flex;
  align-items: center;
}
.main a{
  margin-right: 25px;
  margin-left: 10px;
  color: var(--text-color);
  font-size: 1.1rem;
  font-weight: 500;
  transition: all .50s ease;
}
.user{
  display: flex;
  align-items: center;
}
.user i{
  color: var(--main-color);
  font-size: 28px;
  margin-right: 7px;
}
.main a:hover{
  color: var(--main-color);
}
#menu-icon{
  font-size: 35px;
  color: var(--text-color);
  cursor: pointer;
  z-index: 10001;
  display: none;
}

/* SECTION HOME */

section{
  padding: 120px 14%;
}
.home{
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 6rem;
  align-items: center;
}
.home img{
  max-width: 100%;
  width: 600px;
  height: auto;
  border-radius: 50%;
}
.home-text h5{
  font-size: var(--h2-font);
  font-weight: 500;
  margin: 0 0 10px;
}
.home-text h1{
  font-size: var(--big-font);
  color: var(--text-color);
  font-weight: 700;
  line-height: 1;
  margin: 0 0 20px;
}
.home-text h6{
  color: var(--text-color);
  font-size: 18px;
  font-weight: 500;
  padding-right: 30px;
  margin-bottom: 25px;
}
.home-text h6 span{
  font-size: 6rem;
}

.btn{
  background: var(--main-color);
  color: var(--text-color);
  box-shadow: 4px 4px var(--text-color);
  margin-left: 25px;
  padding: 0 25px;
  line-height: 42px;
  display: inline-block;
  border-radius: 10px;
  transition: transform 0.35s ease;
}
.ri-github-fill{
  font-size: 40px;
  border-radius: 10px;
  transition: transform 0.35s ease;
}
.btn:hover{
  transform: scale(1.2);
  background: var(--text-color);
  color: var(--main-color);
  box-shadow: 4px 4px var(--main-color);
}

.home-link{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 28px 12%;
}

.home-link a{
  font-size: 34px;
  color: var(--text-color);
}

.home-link a:hover{
  color: var(--main-color);
  transition: all .50s ease;
  transform: scale(1.2);
}

/* SECTION ABOUT */

.about-content{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, auto));
  grid-gap: 2rem;
  align-items: center;
  margin-top: 4.4rem;
}

.about-img img{
  max-width: 100%;
  width: 20rem;
  height: auto;
  border-radius: 15px;
}
.about-text{
  display: inline-block;
  text-align: justify;
}
.about-text h3{
  color: var(--text-color);
  font-size: var(--big-font);
  font-weight: 300;
  letter-spacing: 6px;
  margin: 0 0 30px;
}

.about-text h2{
  margin-bottom: 0.5rem;
  font-weight: 500;
  font-size: var(--h2-font);
  line-height: 1.2;
}
.about-text p{
  font-size: var(--p-font);
  font-weight: 300;
  margin-bottom: 1.5rem;
  line-height: 1.8rem;
  color: var(--two-main-color);
}

/* SECTION SKILLS */

.center{
  text-align: center;
}
.center h3{
  color: var(--text-color);
  font-size: var(--big-font);
  font-weight: 300;
  letter-spacing: 6px;
}
.skills-content{
  display: flex;
  grid-template-columns: repeat(auto-fit, minmax(350px, auto));
  grid-gap: 2rem;
  align-items: baseline;
  margin-top: 4.4rem;
}
.row{
  padding: 0px 35px;
  border-radius: 10px;
  transition: all .40s;
}
.skills-languages{
  border-radius: 10px;
  margin: 0;
  max-width: 500px;
  text-align: center;
}
.skills-languages h3{
  font-size: var(--h2-font);
  text-align: center;
  margin-bottom: 30px;
  color: var(--main-color);
}
.skills-icon{
  display: inline-block;
  width: 150px;
  height: 150px;
  margin: 20px;
  justify-content: center;
  border-radius: 10px;
  transition: all .40s;
}
.skills-icon svg{
  margin: 10px;
  width: 120px;
  height: 120px;
  fill: var(--main-color);
}
.skills-icon:hover{
  transform: translateY(-15px);
  background: #0b0b13;
  box-shadow: 0px 15px 30px 0px rgb(0 0 0 / 70%);
}

/* SECTION PORTFOLIO */
#portfolio {
  padding: 80px 35px;
  text-align: center;
}
#portfolio h2 {
  color: var(--text-color);
  font-size: var(--big-font);
  font-weight: 300;
  letter-spacing: 6px;
}
.portfolio-items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, auto));
  align-items: center;
  margin-top: 4.4rem;
  justify-content: center;
}
.portfolio-item {
  margin: 20px;
  max-width: 300px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow: hidden;
  transition: all .50s ease;
}
.portfolio-item img {
  width: 100%;
  height: 260px;
  object-fit: cover;
  border-radius: 10px;
}
.portfolio-item h3 {
  font-size: 24px;
  text-align: center;
  margin: 20px 0;
  color: var(--text-color);
}
.portfolio-item a {
  display: block;
  text-align: center;
  padding: 20px;
  transition: background-color 0.2s ease-in-out;
}
.portfolio-item:hover {
  background-color: #0b0b13;
}
.portfolio-tools{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  grid-gap: 1rem;
  padding-bottom: 20px;
}
.portfolio-tools a{
  font-size: 34px;
  color: var(--text-color);
  padding: 0;
}
.portfolio-tools a:hover{
  color: var(--main-color);
}

@media (max-width: 1430px){
  header{
    padding: 25px 3%;
  }
  section{
    padding: 100px 3%;
  }
}

/* Ajustes para RESPONSIVE */

@media (max-width: 1280px){
  header{
    padding: 14px 2%;
    transition: .2s;
  }
  .navbar a{
    padding: 5px 0;
    margin: 0px 20px;
  }
  #portfolio {
    padding: 100px 3%;
  }
  .portfolio-items{
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
  }
  
}
@media (max-width: 1090px){
  #menu-icon{
    display: block;
  }
  .home{
    grid-template-columns: 1fr;
  }
  .home-img{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .home-img img{
    max-width: 60%;
    max-height: 60%;
    width: auto;
    height: auto;
  }
  .navbar{
    position:absolute;
    top: 100%;
    right: -100%;
    width: 270px;
    background: var(--main-color);
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 10px;
    transition: all .50s ease;
  }
  .navbar a{
    display:block;
    margin: 12px 0;
    padding: 0px 25px;
    transition: all .50s ease;
  }
  .navbar a:hover{
    color: var(--text-color);
    transform: translateY(5px);
  }
  .navbar a.active{
    color: var(--text-color);
  }
  .navbar.active{
    right: 2%;
  }
  .row{
    padding: 0;
  }
  :root{
    --big-font: 3rem;
    --h2-font: 1.2rem;
    --p-font: 0.9rem;
  }
  
}

/* Ajuste para dispositivos moviles */

@media (max-width: 830px){

  :root{
    --big-font: 1.8rem;
    --h2-font: 1rem;
    --p-font: 0.9rem;
  }

  header{
    padding: 18px 3%;
  }
  #menu-icon{
    display: block;
  }
  .navbar{
    position: absolute;
    top: -500px;
    left: 0;
    right: 0;
    width: auto;
    display: flex;
    flex-direction: column;
    background: #0b0b13;
    box-shadow: 0px 15px 30px 0px rgb(0 0 0 / 70%);
    text-align: left;
    transition: 0.2s ease;
  }
  .navbar a{
    display: block;
    padding: 1rem;
    border-left: 2px solid var(--main-color);
    margin: 1rem;
    display: block;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .navbar a:hover{
    background: var(--main-color);
  }
  .navbar.active{
    top: 100%;
  }
}

@media (max-width: 795px){

  section {
    padding: 100px 3%;
  }

  .main a {
    margin-right: 0;
    font-size: 0.6rem;
  }

  .home{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
    text-align: center;
  }
  .home-text p{
    max-width: 100%;
  }

  .home-text h6 span {
    font-size: 1.5rem;
  }

  .home-img img{
    max-width: 70%;
    width: 490px;
    height: auto;
  }
  .about-content{
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
  }
  .about-text h2{
    max-width: 100%;
  }
  .about-text p{
    max-width: 100%;
  }
  .about-img{
    order: 2;
  }

  .row {
    padding: 10px;
  }

  .about-img img {
    max-width: 60%;
  }

  #portfolio {
    margin-bottom: 50px;
  }

  .portfolio-items {
    display: flex; 
    justify-content: flex-start;
    width: 700px; 
    overflow: auto;
  }

  .portfolio-item {
    flex: 0 0 auto;
  }

  .skills-icon {
    width: 100px;
    height: 100px;
  }
  
  .skills-icon svg{
    width: 80px;
    height: 80px;
  }
}